.python-version
.env
.envrc
__pycache__/
/dist/
.direnv/
.claude/
.agent-shell/
.agent-circus/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
